<div class= 'container text-center'>
	<h3>Create an animal and select options for Species and Enclosures for which it should belong to:</h3><br>
	<%= render 'form' %><br>
	<%= link_to 'Back', contacts_path %>
</div>